<%- include("partials/header") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Attendance Submitted!</h1>
        <p class="lead">You can access it again tomorrow.</p>
    </div>
</div>


<%- include("partials/footer") %>